.it_works_title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
}
.it_works_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #404242;
}
.it_works_block_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  width: 328px;
  padding-bottom: 41px;
}
.it_works_see_video {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #486958;
}
.it_works_block_preview {
  display: flex;
  align-items: center;
  position: relative;
  height: 350px;
  background: #ccf0e6;
  border-radius: 0px 10px 10px 0px;
}
.it_works_block_preview img{
   max-width: 100%;
}
.it_works_block-text-text {
  display: flex;
  flex-direction: column;
  width: 328px;
  padding: 70px 106px 89px 115px;
}
.it_works_block_preview_see_video {
  height: 350px;
  width: 549px;
}
.it_works_see_video_background {
  position: absolute;
  left: 999px;
  top: 182px;
  width: 128px;
  height: 128px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 65px;
}
.it_works_see_video_radius {
  position: absolute;
  top: 14px;
  left: 14px;
  height: 100px;
  width: 100px;
  background: #ffffff;
  border-radius: 65px;
}
.it_works_see_video_play {
  position: absolute;
  padding: 29.26px 30px 29.26px 43px;
}
